html {
    font-size: 100%;
    font-family: var(--font-poppins);
    box-sizing: border-box;
    cursor: var(--cursor-default);
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    background-color: var(--background);
    color: var(--white);
    width: 100vw;
    height: 95vh;
    margin: 0;
    padding: 0;
}
input[type='text'] {
    font-family: inherit;
    border: none;
    border-radius: 0.3125rem;
    box-sizing: inherit;
    box-shadow: none;
    cursor: var(--cursor-text);
    transition: all ease-in-out 200ms;
}
button {
    all: unset;
    font: inherit;
    box-sizing: inherit;
    padding: 0.3125rem 0.9375rem;
    border-radius: 0.3125rem;
    cursor: pointer;
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 20.625rem;

    @include breakpoint(large) {
        max-width: 50rem;
    }
}
.title {
    text-align: center;
    font-weight: 600;
}
