.inputField {
    &__card {
        background: var(--card);
        border-radius: 0.625rem;
        width: 100%;
        padding: 2rem;

        > button {
            background: var(--orange);
            margin: 0 auto;
            margin-top: 1rem;
            max-width: 16.875rem;
            width: 100%;
            text-align: center;
            cursor: var(--cursor-pointer);
            transition: all ease-in-out 200ms;

            @include breakpoint(large) {
                width: auto;
            }

            &:hover {
                background: var(--orange-hover);
            }

            &:active {
                background: var(--orange);
            }
        }
    }

    &__component {
        width: 16.875rem;
        display: inline-block;
        margin: 0.3rem 0;

        @include breakpoint(large) {
            margin: 0.3rem 1rem;
        }

        &__label {
            display: block;
            cursor: var(--cursor-default);
            margin-bottom: 1rem;
        }

        > input[type='text'] {
            padding: 0.5rem;
            width: 100%;

            &:focus {
                outline: 0.125rem solid var(--orange);
            }
        }
    }
}
