.todos {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 3.125rem;

    @include breakpoint(large) {
        grid-template-columns: 1fr 1fr;
    }

    &__card {
        background: var(--card);
        border-radius: 0.625rem;
        padding: 1.3rem;
        width: 100%;
        cursor: var(--cursor-default);

        &-name {
            margin: unset;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: var(--orange);

            > span {
                transition: all ease-in-out 300ms;
                &.strike {
                    text-decoration: line-through;
                    opacity: 0.7;
                }

                > .trash {
                    all: unset;
                    color: var(--trash);
                    margin-right: 1rem;
                    cursor: var(--cursor-pointer);
                    transition: all ease-in-out 150ms;

                    &:hover {
                        color: var(--trash-hover);
                    }
                }

                > .check {
                    all: unset;
                    color: var(--check);
                    margin-right: 1rem;
                    cursor: var(--cursor-pointer);
                    transition: all ease-in-out 150ms;

                    &:hover {
                        color: var(--check-hover);
                    }
                }
            }
        }

        &-description {
            cursor: var(--cursor-default);
            transition: all ease-in-out 300ms;
            &.strike {
                text-decoration: line-through;
                opacity: 0.7;
            }
        }
    }
}
