:root {
    // font
    --font-poppins: 'Poppins', sans-serif;

    // color
    --background: hsl(0, 0%, 18%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 100%;
    font-family: var(--font-poppins);
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    background-color: var(--background);
    color: var(--white);
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-weight: 600;
}
