:root {
    // font
    --font-poppins: 'Poppins', sans-serif;

    // color
    --background: hsl(0, 0%, 18%);
    --white: hsl(0, 0%, 100%);
    --orange: hsl(33, 93%, 52%);
    --orange-hover: hsl(33, 80%, 46%);

    --card: hsl(0, 0%, 24%);
}

@import './style/boilerplate';
@import './style/inputComponent';
